/*big Screen*/
@media screen and (max-width:1024px) {
    .slider2{
        height: 450px;
    }
    .footer-contact h4{
    margin-left: 110px;
    font-size: 25px;
    }
    .footer-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .footer-bottom{
        display: flex;
        justify-content: center
    }
    .footer-bottom p{
        font-size: 15px;
    }

}
/*tab*/
@media screen and (max-width:840px){
    .slider2{
        height: 350px;
    }
    .footer-contact{
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .footer-contact h4{
        margin-left: 75px;
        font-size: 25px;
    }
    .footer-bottom{
        display: flex;
        justify-content: center;
    }
}
/*mobile*/
@media screen and (max-width:440px){
    .slider2{
        height: 300px;
        width: 100%;
    }
    .product-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .cards{
        height: 255px;
        width: 180px;
    }
    .card-front h3{
        font-size: 15px;
        margin-top: 11px;
    }
    .view{
        font-size: 10px;
        margin-top: 5px;
        margin-left: 75px;
    }
    .card-front img{
        width:40%;
        height: auto;
        border-radius: 10px;
    }
    #mess,
    #flip{
        height: 35px;
        width: 145px;
    }
    #flip img{
        transform: scale(0.7);
    }
    #mess img{
        transform: scale(0.8);
    }
    .card-back h3{
        font-size: 15px;
    }
    .card-back p{
        font-size: 10px;
        padding: 5px;
    }
    .back{
        height: 30px;
        width: 75px;
    }
    .section-contact p{
        font-size: 15px;
    }
    .footer-contact {
        display:flex;
        justify-content:center;
        align-items: center;
        gap: 0px;
    }
    .footer-contact h4{
        font-size:17px;
        padding: 15px;
        display:flex;
        margin:0px;
    }
    .footer-bottom{
        display:flex;
        justify-content: center;
    }
    .footer-bottom p{
        font-size:14px ;
    }
    .footer-links h4{
        font-size: 17px;
    }
    .footer-links a{
        font-size: 12px;
    }
    
}