/*big Screen*/
@media screen and (max-width:1024px) {
    .slider2{
        height: 450px;
    }
    .footer-contact h4{
    margin-left: 110px;
    font-size: 25px;
    }
    .footer-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .footer-bottom{
        display: flex;
        justify-content: center
    }
    .footer-bottom p{
        font-size: 15px;
    }
    .box{
        display:grid;
        justify-content:center;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        flex-direction: column;
        gap: 20px;
       margin: auto;
    }
    .b1,
    .b2,
    .b3,
    .b4{
   height: 170px;
   width: 400px;
   gap: 5px;
   border-radius: 20px;
}
#icon{
    padding: 0px;
}
/*tab*/
@media screen and (max-width:840px){
    .slider2{
        height: 290px;
    }
    .section-hero{
    height: 340px;
    }
    .slider-tracker{
        margin-top: 0px;
    }
    
    .footer-contact{
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .footer-contact h4{
        margin-left: 75px;
        font-size: 25px;
    }
    .footer-bottom{
        display: flex;
        justify-content: center;
    }
    .b1,
    .b2,
    .b3,
    .b4{width: 350px;
}
}
/*mobile*/
@media screen and (max-width:440px){
    .slider2{
        height: 155px;
        width: 100%;
        border-radius:0px;
    }
    .section-hero{
          height: 215px;
    }
    .slider-tracker{
        height: 10px;
        margin-top:6px;
        width: 100%;
    }
    #proh1 {
        display: flex;
        justify-content: center;
        padding:0px;
        margin-top: 40px;
    }
    .section-product{
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 25px;
        padding: 20px;
    }
    .pro{
        height: 330px;
        width: 175px;
        gap:15px;
        padding: 10px;
    
    }
    .product-card{
        display:flex;
        align-items: center;
        margin-top: 40px;
    }
    .slide-track{
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
       
    }
    .cards{
        height: 240px;
        width: 170px;
       
    }
    .Buy-btn{
        height: 35px;
        width:160px;
        border-radius:35px;
    }
    .backbtn{
        width: 160px;
    }
    .card-front h3{
        font-size: 13px;
       margin-top: 0px;
        text-align: center;
    }
    
    .card-front img{
        width:55%;
        height: auto;
        border-radius: 10px;
    }
    .card-front .price{
        margin-top: 9px;
    }
    .btn1{
        margin-top: 10px;
    }
    .btn2{
        gap:10px;
    }
    .mess,
    .flip{
        height: 25px;
        width: 145px;
        margin-top: 10px;
    }
    
    .card-back h3{
        font-size: 15px;
    }
    .card-back p{
        font-size: 10px;
        padding: 5px;
    }
    .section-about{
        margin-top:50px;
    }
    .back{
        height: 30px;
        width: 75px;
    }
    .card1,
    .card2,
    .card3,
    .card4,
    .card5
    {
        display: none;
    }
     .card {
    width:225px;
    height: 180px;
    line-height: 150px;
    font-size: 14px;
  }

  .slider-vie {
    gap: 12px;
  }

  .section-reviews {
    height:230px;
    width: 100%;
    padding: 13px 0;
  }

  #rew {
    font-size: 11px;
    padding-left: 10px;
  }
    #about h1{
        font-size: 25px;
        padding: 5px;
    }
    #about h2{
      font-size: 20px;
    }
   .info{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
   }
   .info h2{
    padding: 10px;
   }
   #abouts p{
    font-size:14px;
    color: #2f3e2e;
   }
    #abouts{
        font-size: 15px;
        margin-top:30px;
        padding: 15px;
    }
    .section-contact h1{
        font-size: 25px;
    }
    .section-contact p{
        font-size: 15px;
    }
    .footer-contact {
        display:flex;
        justify-content:center;
        align-items: center;
        gap: 0px;
    }
    .rights{
        font-size: 9px;
    }
    .footer-main{
        font-size: 20px;
        
    }
    .info ul li{
        font-size: 13px;
    }
    #h1-ab{
        font-size: 35px;
    }
    .info h2{
        font-size: 20px;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .b1,
    .b2,
    .b3,
    .b4{
        height: 160px;
        width: 350px;
        border-radius: 15px;
    }
    #icon{
        padding: 10px;
    }

    
}
/*Small-screens*/
@media screen and (max-width:380px) {
    .section-product{
        gap: 10px;
        padding: 11px;
    }
    #abouts{
        padding: 13px;
    }
    .box{
     margin: 0px;
    }
    .b1,
    .b2,
    .b3,
    .b4{
        width: 340px;
    }
    .cards{
        width: 160px;
        height: 230px;
    }
    .section-reviews{
        height: 250px;
    }
    #rew{
        font-size: 11px;
    }

}
@media screen and (max-width:345px){
    .slide-track{
        font-size: 11px;
    }
    .cards{
        height: 190px;
        width: 135px;
    }
    .card1{
        display: none;
    }
    .card2{
        display: none;
    }
}
}