
/*Tablet and bigscreen*/
@media screen and (max-width:1024px) {
    .section-hero{
        height:650px;
    }
    .section-product{
        margin-top: 50px;
    }

   .section-hero{
    height: 580px;
   }
   .hero-right h3{
    padding: 13px;
   }
   .flip,
   .amaz,
   .messo{
    height: 40px;
    width: 40px;
   }
   .hero-right{
    margin: 0px;
    height: 550px;
   }
   .hero-left{
    margin: 0px;
   }
   .slider{
    width: 100%;
   }
   #name{
    font-size: 10px;
    font-weight: bolder;
   }
   #name{
    font-size: 15px;
    padding: 10px;
   }
   #reviews{
    padding: 9px;
    font-size: 15px;
   }
   .span{
    padding: 7px;
   }
}
/*small tablet*/
@media screen and (max-width:870px){
    .nav-bar{
        font-size: 20px;
        width: 100%;
    }

    .nav-btn{
        gap: 40px;
    }
    .section-hero{
        height:auto;
    }

    .hero-left{
        height: auto;
        width: 30%;
        margin-bottom:50px;
        margin-left:8px;

    }
    .hero-right{
        width: 65%;
        height: auto;
        padding: 0px;
    }
    #name{
        padding: 9px;
        font-size: 17px;
    }
    #reviews{
        padding: 8px;
        font-size: 14px;
    }
    .span{
        padding: 9px;
        font-size: 16px;
    }
}
/*phones*/
@media screen and (max-width:440px){
    .nav-bar{
      gap: 10px;
      height: 65px;
      width: 100%;
    }
    .nav-btn{
        display: none;
    }
    #ham{
        display: flex;
    }
    .nav-bar2{
    height:240px;
    width:100%;
    margin: auto;
    position:sticky;
    top: 0;
    z-index: 1000;
    }
    .nav-btn2{
        flex-direction: column;
        gap: 25px;
        padding: 10px;
    }
    .logo{
        padding: 10px;
        display:flex;
        gap: 10px;
        align-items: center;
        font: 35px;
    }
    #cross{
        color:#4B2E1D;
        font-size: 29px;
        margin-left: 40px;
    }
    .section-hero{
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 10px;
    }
    .hero-left{
        height: auto;
        width:auto;
        margin: auto;
    }
    .hero-right{
        height: auto;
        width: auto;
        padding: 10px;
        margin: auto;
    }
    .hero-right p{
        padding: 3px;
        font-size: 15px;
    }
    .hero-right h1{
    padding: 12px;
    font-size: 40px;
    }
    .slider{
        width: 100%;
    }
    .section-product{
        height: auto;
        width: 100%;
    }
    .pro{
        height: auto;
        width: 90%;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        margin-top: 40px;
    }
    #product h1{
    font-size: 40px;
    font-weight: bolder;
    padding: 15px;
    display: flex;
    justify-content: center;
  }
 .section-why-us{
    height: auto;
    width:100%;
    overflow-x: hidden;
    margin-top: 50px;
 }
 .main{
    height: 300px;
    width:90%;
    overflow-x: hidden;
    padding: 5px;
    margin: auto;
 }
 .re1{
    height: 120px;
    width: 90%;
    border: 2px solid black;
    gap: 25px;
    padding: 10px;
 }
 .pic1{
    height: 100px;
    width: 100px;
    padding: 3px;
 }
 .det{
    height: 100px;
    width: 60%;
    padding: 6px;

 }
 .section-contact h1{
    font-size: 25px;
 }
 .icon{
    margin-top: 15px;
    font-size: 20px;
 }
 .all span{
    margin-top:0px;
    font-size: 10px;
 }
 #name{
    font-size: 12px;
    font-weight: bolder;
    padding: 4px;
 }
 #reviews{
    padding: 4px;
    font-size: 10px;
 }
 .span{
    padding: 1px;
    font-size: 10px;
 }
 


    
    

}
/*less than 370px*/
@media screen and (max-width:370px) {
     #name{
        font-size: 10px;
        font-weight: bolder;
        padding: 2px;
     }
     #review{
        padding: 3px;
        font-size: 10px;
     }
     .span{
        padding: 5px;
        font-size: 10px;
     }
     .icon{
        margin-top: 9px;
        font-size: 16px;
     }
     .all{
        margin: auto;
     }
     .all span{
        font-size: 8px;
        margin-top: 0px;
     }
     .hero-right p{
        padding: 3px;
        font-size: 13px;
     }
     .main{
        font-size: 13px;
     }
}

